html {
  scroll-behavior: smooth;
}
.atas {
	border-radius: 5px;
   	font-size: 20px;
   	padding: 10px;
   	text-align: center;
   	color: white;
   	box-shadow: 3px 3px 4px #000000;
   	transition-duration: 0.5s;
}
nav li {
  	display: inline;
   	list-style-type: none;
}
nav {
	text-align:right;
   	position: sticky;
   	transition-duration: 0.5s;
    border-radius: 5px;
   	box-shadow: 3px 3px 4px #000000;
   	margin: 5px 0px;
   	padding: 5px;
	top: 0;
}
nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: white;
	padding: 16px 5px;
	transition-duration: 0.5s;
	border-radius: 5px;
}
nav a:hover {
	font-size: 18px;
    background-color: #ffd54a;
    color: white;
    opacity: 70%;
    padding: 16px 5px;
	cursor: pointer;
	transition-duration: 0.5s;
	border-radius: 5px;
}
article a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: white;
	padding: 2px 2px;
	transition-duration: 0.5s;
	border-radius: 5px;
}
article a:hover {
	font-size: 18px;
    background-color: #ffd54a;
    color: white;
    opacity: 70%;
    padding: 2px 2px;
	cursor: pointer;
	transition-duration: 0.5s;
	border-radius: 5px;
}
h1 {
	text-shadow: 3px 3px 4px #000000;
}
.topnav {
	border-radius: 5px;
   	box-shadow: 3px 3px 4px #000000;
   	transition-duration: 0.5s;
}
.content {
   	float: left;
   	width: 75%;
}
.card {
	display: flex block;
   	box-shadow: 3px 3px 4px #000000;
   	border-radius: 5px;
	padding:20px;
	margin: 10px;
	color: white;
}
.card1 {
	display: flex;
   	box-shadow: 3px 3px 4px #000000;
   	border-radius: 5px;
	padding:20px;
	margin: 10px;
}
footer{
	padding: 20px;
	text-align: center;
	font-weight: bold;
	box-shadow: 3px 3px 4px #000000;
   	border-radius: 5px;
	margin: 10px 0px 0px 0px;
	float: left;
	width: 97%;
	color: white;
}
.kanan {
   float: right;
   width: 25%;
   display: inline;
}
@media screen and (max-width: 1000px) {
   .content,
   aside, footer {
       width: 100%;
       padding: 0;
   }
}

body {
    margin: 5px;
    padding: 5px;
}
.featured-image {
   width: 75%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}
.profile header {
   text-align: center;
}
header {
   display: inline;
}
#readmore {
	display:none;
}
#readmore2 {
	display:none;
}
#readmore3 {
	display:none;
}
#readmore4 {
	display:none;
}
#readmore5 {
	display:none;
}
nav li ul {
	text-align:right;
	width:97%;
	float: right;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
nav li:hover ul {
	opacity: 1;
	top: 50px;
	visibility: visible;
}

